<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="res/css/bootstrap.min.css">

    <link rel="shortcut icon" href="res/img/favicon.ico" type="image/x-icon" />

    <title>Mostratec Forms</title>
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 text-center">
          <img src="res/img/logo.jpg" class="img-fluid">
          <br>
          <strong>
            REALIZAÇÃO
            <br>
            FUNDAÇÃO ESCOLA TÉCNICA LIBERATO SALZANO VIEIRA DA CUNHA
          </strong>
          <br>
          <br>
          <form>
            <div  class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="typeRegister" id="afiliacao" value="afiliacao">
              <label class="form-check-label" for="afiliacao">Afiliação</label>
            </div>
            <div  class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="typeRegister" id="reafiliacao" value="reafiliacao">
              <label class="form-check-label" for="reafiliacao">Reafiliação</label>
            </div> 
            <h4>PREENCHA COM OS DADOS ATUAIS DA SUA FEIRA</h4>
            <br>
            <br>
            <div class="text-left">
              <div class="form-group">
                <label for="institutionName">Nome Da Instituição Organizadora Da Feira: </label>
                <input data-js="input" type="text" class="form-control" id="institutionName" placeholder="Nome Da Instituição">
              </div>
              <div class="form-group">
                <label for="bossName">Nome Do Responsável Pela Instituição Organizadora Da Feira: </label>
                <input data-js="input" type="text" class="form-control" id="bossName" placeholder="Nome Do Resposável">
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="telephoneBoss">Telefone: </label>
                  <input data-js="input" type="number" name="telephoneBoss" id="telephoneBoss" class="form-control" placeholder="Telefone Do Responsável">
                </div>
                <div class="col">
                  <label for="emailBoss">Email: </label>
                  <input data-js="input" type="email" name="emailBoss" id="emailBoss" class="form-control" placeholder="Email Do Responsável">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="fairName">Nome Da Feira De Ciências: </label>
                <input data-js="input" class="form-control" type="text" name="fairName" id="fairName" placeholder="Nome Da Feira">
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="fairStreet">Rua: </label>
                  <input data-js="input" type="text" name="fairStreet" id="fairStreet" class="form-control" placeholder="Rua Da Feira">
                </div>
                <div class="col">
                  <label for="fairNumber">Nº: </label>
                  <input data-js="input" type="number" name="fairNumber" id="fairNumber" class="form-control" placeholder="Número Da Feira">
                </div>
                <div class="col">
                  <label for="fairCep">CEP: </label>
                  <input data-js="input" type="number" name="fairCep" id="fairCep" class="form-control" placeholder="CEP Da Feira">
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="col">
                  <label for="fairCity">Cidade: </label>
                  <input data-js="input" type="text" name="fairCity" id="fairCity" class="form-control" placeholder="Cidade Da Feira">
                </div>
                <div class="col">
                  <label for="fairUf">UF: </label>
                  <input type="text" name="fairUf" id="fairUf" class="form-control" placeholder="UF Da Feira" data-js="input">
                </div>
                <div class="col">
                  <label for="fairNation">País: </label>
                  <input type="text" name="fairNation" id="fairNation" class="form-control" placeholder="País Da Feira" data-js="input">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="fairSocial">WebSite / Facebook / Blog :</label>
                <input type="text" name="fairSocial" id="fairSocial" class="form-control" placeholder="Site Da Feira" data-js="input">
              </div>
              <div class="form-group">
                <label for="nameCordinator">Nome Do Cordenador Da Feira: </label>
                <input type="text" name="nameCordinator" id="nameCordinator" class="form-control" placeholder="Nome Do Cordenador" data-js="input">
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="telephoneCordinator">Telefone: </label>
                  <input type="number" name="telephoneCordinator" id="telephoneCordinator" class="form-control" placeholder="Telefone Do Cordenador" data-js="input">
                </div>
                <div class="col">
                  <label for="emailCordinator">Email: </label>
                  <input type="email" name="emailCordinator" id="emailCordinator" class="form-control" placeholder="Email Do Cordenador" data-js="input">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="namePeople">Nome De Uma Pessoa Pra Contato: </label>
                <input type="text" name="namePeople" id="namePeople" class="form-control" placeholder="Nome Da Pessoa" data-js="input">
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="telephonePeople">Telefone: </label>
                  <input type="number" name="telephonePeople" id="telephonePeople" class="form-control" placeholder="Telefone Da Pessoa" data-js="input">
                </div>
                <div class="col">
                  <label for="emailPeople">Email: </label>
                  <input type="email" name="emailPeople" id="emailPeople" class="form-control" placeholder="Email Da Pessoa" data-js="input">
                </div>
              </div>
              <br>
              <div class="form-inline">
                <div class="form-group">
                  <label for="fairPeriod">Peridiocidade Da Feira: </label>
                  <input class="form-check-input" type="radio" name="fairPeriod" id="annual" value="anual" data-js="input">
                  <label class="form-check-label" for="fairPeriod">Anual</label>                  
                </div>
                <div class="form-group">
                  <label for="fairPeriod">Outro. Qual? </label>
                  <input type="text" name="fairPeriod" id="other" class="form-control" placeholder="Outro Periodo" data-js="input">                  
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="fairDateRecent">Data De Realização Mais Recente Da Feira</label>
                <input type="date" name="fairDateRecent" id="fairDateRecent" class="form-control" placeholder="Data Da Feira Mais Recente" data-js="input">
              </div>
              <div class="form-group">
                <label for="fairDateNext ">Data De Realização Da Próxima Feira</label>
                <input type="date" name="fairDateNext" id="fairDateNext" class="form-control" placeholder="Data Da Próxima Feira" data-js="input">
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" name="dateConfirm" id="confirm" class="form-check-input" placeholder="Confirmação Da Data DA Feira" data-js="input">
                <label class="form-check-label" for="confirm">Confirmado</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" name="dateConfirm" id="maybe" class="form-check-input" placeholder="Confirmação Da Data DA Feira" data-js="input">
                <label class="form-check-label" for="maybe">Previsão, Pois A Data Não Está Definida</label>
              </div>
              <br>
              <br>
              <div class="form-group">
                <label for="editionNumber">Número De Edição Da Feira: </label>
                <input type="number" name="editionNumber" id="editionNumber" class="form-control" placeholder="Número De Edição Da Feira" data-js="input">
              </div>
              <br>
              <div>
                <span>Marque Quais São As Areas De Pesquisa Da Sua Feira</span>
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="area" value="artes" id="artes" data-js="input">
                  <label class="form-check-label" for="artes">
                    Artes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="area" value="artes" id="artes" data-js="input">
                  <label class="form-check-label" for="artes">
                    Artes
                  </label>
                </div>                                    
              </div>              
              <br>
              <input type="submit" name="submit" value="Enviar" class="btn btn-success">                                   
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="res/js/bootstrap.min.js"></script>
  </body>
</html>